/ TODO: Turbo / Quick Scan
/ The changing top-of-page instructions
- unless @q
  %header#instructions.masthead
    %h1.touch Scan a barcode, or search for someone:

/ The search form and results
#search
  #search-form
    .inputs
      = form_tag url(:search), :id => "searchForm", :method => "get" do
        = text_field_tag :q, :value => @q, :id => "terms", :class => "text", :placeholder => "Name, email address or order code.", :autocomplete => "off"
        = submit_tag "Go", :id => "submit", :name => "submit", :class => "submit"
      - unless @q
        .tip.touch Tap here to get started.
        .tip.mouse Click here to get started.

  - if @results.present?
    %ul.orders.done.show-results{:id => "search-results"}
      - @results.each do |order|
        %li.order.group
          = link_to url(:orders, :show, :id => order.id) do
            %p{:class => "code"}= order.code
            - unless order.paid?
              %p{:class => "unpaid"} Unpaid!
            %h2= order.full_name
            %p.others= "With #{order.tickets.count} tickets:"
            %ul.others
              - order.tickets.each do |ticket|
                %li= ticket.full_name
  - elsif @q
    %h3 Couldn't find anything!

/ Notification
#search-notice
  .message.fold.hide
    %h3= "Done! you have scanned Rob Howard."
  /
    <h3>Done! you have <span class="scan-target">scanned 4 people:</span></h3>
    <ul>
    <li>Rob Howard</li>
    <li>Rob Howard</li>
    <li>Rob Howard</li>
    <li>Rob Howard</li>
    </ul>

%hr/

%footer
  %p &copy; SMASH! 2012
