#ticket.order
  %a.back{:href => "javascript:window.location.back();"} &laquo; Back

  .together
    %h2= @ticket.name
    %h3= link_to @ticket.order.code, url(:orders, :id => @ticket.order.id)
    .action
      %a.btn.btn-green.btn-large 
    .group-details
      %p= "Order with #{@order.tickets.count} people:"
      %ul
        - @order.tickets.each do |ticket|
          %li= ticket.full_name

  .or-divider
    %span OR

  %ul.orders
    - @order.tickets.each do |ticket|
      %li
        %h3= ticket.full_name
        .action
          %a.btn.btn-blue.btn-large This One

  .history
    %h3 Order History
    %ul
      %li
        %time 3 March 2012
        paid for order by BPAY.
      %li
        %time 1 March 2012
        created order.

