#ticket.order
  = link_to "&laquo; Back to Search".html_safe, "javascript:window.history.back();", :class => "back"

  = form_tag scan_ticket_path(@ticket), :method => 'post' do |f|
    .together
      .action
        = submit_tag "Confirm this Ticket", :id => "ticket_confirm", :class => "btn btn-success btn-large"

      %h2= @ticket.full_name
      %h3= link_to @ticket.order.code, order_path(@ticket.order)

      - unless @ticket.order.paid?
        .unpaid
          %p Warning! This order has not been paid for.

      - if @ticket.scanned?
        .scanned
          %p Warning! Ticket already scanned today:
          %ul.scanned
            - @ticket.scans.each do |scan|
              %li= "#{scan.created_at}, by #{scan.booth}"

      .group-details
        %p= "From an order with #{@order.tickets.count} people:"
        %ul
          - @order.tickets.each do |ticket|
            %li= ticket.full_name


  .history
    %h3 Order History
    %ul
      %li
        %time= "#{@order.created_at.strftime("%-d %B, %Y")}"
        created order.

